		</div>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
		
